body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;
    font-size: 35px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

a {
    color: black;
    text-decoration: none;
    position: relative;
}

a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
}

a:hover:before {
    visibility: visible;
    width: 100%;
}

#p5Canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}
