body, .container {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
}

h1, h2 {
    font-family: 'Archivo Narrow', serif;
}

p, li{
    font-family: 'EB Garamond', serif;
}

.about-link {
    color: steelblue;
}

.sidebar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 14.375em;
    padding: 1.25em;
    border-right: 0.0625em dashed darkgray;
    z-index: 1;
}

a {
    color: black;
    text-decoration: none;
    position: relative;
}

.sidebar h1 {
    font-weight: bold;
    font-size: 2em;
}

.sidebar nav ul {
    font-size: 1.25em;
    padding: 0;
    margin-top: 0.3125em;
    list-style: none;
}

a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.0625em;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
}
  
a:hover:before {
    visibility: visible;
    width: 100%;
}

.no_underline:before, .no_underline:hover:before {
    visibility: hidden;
}

.main {
    flex-grow: 1;
    overflow: auto;
    padding: 0.625em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    border: 0.0625em dashed darkgray;
    padding: 1.25em;
    margin: 0.625em;
    box-sizing: border-box;
}

.box {
    flex-shrink: 1;
    flex-grow: 1;
}

.box-about, .box-books {
    min-height: 2em;
    overflow-y: auto;
}

.box-about {
    flex: 2 0 60%;
}

.box-books {
    flex: 1 0 30%;
}

.box-places {
    flex-basis: 100%;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box-places-left {
    flex: 3;
    max-width: calc(60% - 0.625em);
}

.box.box-places-left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:auto;
}

.box-places-right {
    flex: 2; /* 2 parts of the 5-part division */
    max-width: calc(40% - 10px); 
}

.box-places-right svg {
    display: block;
    margin: auto;
}

@media (max-width: 37.5em) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 0.625em 0;
        text-align: center;
    }

    .sidebar nav ul li {
        display: inline;
        margin: 0 1em;
    }

    .box-about, .box-places, .box-books {
        flex-basis: 100%;
        border: none;
    }

    .bottom-row {
        flex-direction: column;
    }

    .box-places-left, .box-places-right {
        flex-basis: 100%;
        max-width: 100%;
        border: none;
    }
}
